<template>
    <div id="app">
  <div class="container pt-4">
  <button data-toggle="modal" v-on:click="$bvModal.show('addModal')" style="font-family:poppins" type="button"><img src="../../assets/img/addbook_icon.png" height="23">Add Book</button>
    <input autocomplete="off" style="background-color:#e9e7e7;color:#000000;" placeholder="Search" type="text" name="search" class="search-bar">
      <div class="row mt-2">
        <div class="col-11 col-sm-11 col-md-11 col-lg-11">
          <div class="card striped-tabled-with-hover">
            <div class="table-responsive">
              <table class="table table-hover table-striped" >
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Author</th>
                      <th scope="col">Copies Available</th>
                      <th scope="col">Category</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="book in books" :key="book.id">
                       <td>{{ book.name }}</td>
                       <td>{{ book.author }}</td>
                       <td>{{ book.copies }}</td>
                       <td>{{ book.categories.category }}</td>
                      <td>
                        <a type="button" @click="$bvModal.show('editModal'); id = id; data = {...book}">
                        <img src="../../assets/img/edit_icon.png" class="mr-2 cursor-pointer" height="25"/> 
                        </a>
    
                        <a type="button" @click="$bvModal.show('deleteModal'); id = book.id;">
                        <img src="../../assets/img/delete_icon.png" class="mr-2" height="16"/>
                        </a>

                        <a type="button" v-on:click="book_data.book_id = book.id; id = id; $bvModal.show('borrowModal');">
                        <img src="../../assets/img/borrow_icon.png" class="cursor-pointer mr-2" height="20"/>
                        </a>
                        <a type="button" v-on:click="book_data.book_id = book.id; id = id; $bvModal.show('returnModal'); ">
                        <img src="../../assets/img/return_icon.png" class="cursor-pointer" height="20"/>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    <b-modal id="addModal" class="modal-body" centered title="Add Book">
      <form autocomplete="off" class="pl-5 pr-5" style="font-family:poppins">
        <div class="form-group">
          <label for="name">Name</label>
            <input type="text" v-model="data.name" class="form-control" id="name" placeholder="" />
        </div>
        <div class="form-group">
          <label for="author">Author</label>
            <input type="text" v-model="data.author" class="form-control" id="author" placeholder="" />
        </div>
        <div class="form-group">
          <label for="copies">Copies</label>
            <input type="email" v-model="data.copies" class="form-control" id="copies" placeholder="" />
        </div>
        <div class="form-group">
          <label for="customSelect">Category</label>
            <select id="customSelect" v-model="data.category_id" class="custom-select">
              <option>Please select a category</option>
              <option v-for="(categ, i) in categories" :key="i" :value="categ.id">{{categ.category}}</option>
            </select>
        </div>
      </form>
      <template #modal-footer = {cancel}>
        <b-button variant="secondary" @click="cancel()"> Cancel </b-button>
        <b-button variant="primary" @click="bookSave" > Add Book </b-button>
      </template>
     </b-modal> 

    <b-modal id="editModal" centered title="Edit Book">
      <form autocomplete="off" class="pl-5 pr-5">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" v-model="data.name" class="form-control" id="name"/>
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" v-model="data.author" class="form-control" id="author"/>
        </div>
        <div class="form-group">
          <label for="copies">Copies</label>
          <input type="number" v-model="data.copies" class="form-control" id="copies"/>
        </div>
        <div class="form-group">
          <label for="customSelect">Category</label>
          <select id="customSelect" v-model="data.category_id" class="custom-select">
                <option selected disabled>Please select a category</option>
                <option v-for="(categ, i) in categories" :key="i" :value="categ.id">{{categ.category}}</option>
          </select>
        </div>
      </form>
      <template #modal-footer = {cancel}>
        <b-button variant="secondary" size="sm" @click="cancel()"> Cancel </b-button>
        <b-button size="sm" variant="primary" @click="bookUpdate"> Update Book </b-button>
      </template>
    </b-modal>

    <b-modal id="deleteModal" centered title="Delete Book">
       <p class="my-4">Are you sure you want to delete this book?</p>
      <template #modal-footer="{ cancel }">
        <b-button variant="secondary" @click="cancel()"> Cancel </b-button>
        <b-button variant="primary" @click.prevent="bookDelete"> Confirm </b-button>
       </template>
     </b-modal>

     <b-modal id="borrowModal" centered title="Borrow Book">
      <form autocomplete="off" class="pl-5 pr-5">
        <div class="form-group">
          <label for="copies">How Many Copies would you like to borrow?</label>
          <input v-model="book_data.copies" class="form-control" id="copies" placeholder="" type="number"/>
        </div>
        <div class="form-group">
          <label for="customSelect">Patron</label>
          <select id="customSelect" v-model="book_data.patron_id" name="patron" class="custom-select">
            <option selected disabled>Please select a patron</option>
            <option v-for="(patron, i) in patrons" :key="i" :value="patron.id">  {{patron.last_name +", " +patron.first_name +" " +patron.middle_name}}</option>
          </select>
        </div>
      </form>
      <template #modal-footer = {cancel}>
        <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
        <b-button size="sm" variant="success" @click="bookBorrow">
          Borrow Book
        </b-button>
      </template>
    </b-modal>

    <b-modal id="returnModal" centered title="Return Book">
      <form autocomplete="off" class="pl-5 pr-5">
        <div class="form-group">
          <label for="copies">How many copies would you like to return?</label>
          <input v-model="book_data.copies" class="form-control" id="copies" placeholder="" type="number"/>
        </div>
        <div class="form-group">
          <label for="customSelect">Patron</label>
          <select id="customSelect" v-model="book_data.patron_id" name="patron" class="custom-select">
            <option selected>Please select a patron</option>
            <option v-for="(patron, i) in patrons" :key="i" :value="patron.id">  {{patron.last_name +" " +patron.first_name +" " +patron.middle_name}}</option>
          </select>
        </div>
      </form>
      <template #modal-footer = {cancel}>
        <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
        <b-button size="sm" variant="success" @click="bookReturn">
          Return Book
        </b-button>
      </template>
    </b-modal>
   </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import {toast} from '@/assets/js/toastification/toast'

export default {
  mixins: [toast],
  name: "App",
  data() {
    return {
      id: '',
      data: {
        name: '', author: '', copies: '', category_id: ''},
      modalId: '',
      book_data: [{ book_id: '', copies: '', patron_id: ''}],


    }
  },
      mounted(){
          document.title = "Book";
          this.getBooks();
          this.getCategories();
          this.getPatrons();
          this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
            this.modalId = modalId;
            this.clearData();
    }),   
          this.$root.$on('bv::modal::hide', () => {
          this.clearData();
    })
      },
      computed: {
        ...mapState("books", ["books", "categories"]),
        ...mapState("patrons", ["patrons"]),
      },
      methods: {
        ...mapActions("books", ["getBooks", "deleteBook", "storeBook", "updateBook", "getCategories"]),
        ...mapActions("patrons", ["getPatrons"]),
        ...mapActions("borrowed", ["storeBorrowed"]),
        ...mapActions("returned", ["createReturned"]),
        ...mapGetters("books", ["getBooksData"]),

    async bookSave(){
      const res = await this.storeBook(this.data)
        if(res.status == 200){
          this.$bvModal.hide(this.modalId);
          this.showSuccessToast('Book saved successfully!')
        }
        else{
          this.$bvModal.hide(this.modalId);
          this.showErrorToast('Error!')
      }
      },

    async bookDelete(){
      const res = await this.deleteBook(this.id);
        if(res.status == 200){
        this.$bvModal.hide(this.modalId);
        this.showSuccessToast('Book deleted successfully!')
        } 
        else {
            this.showErrorToast('Delete Unsuccessful!')
      }
      },

    async bookUpdate(){
      const res = await this.updateBook({index: this.id, data: this.data})
        if(res.status == 200){
          this.$bvModal.hide(this.modalId);
          this.showSuccessToast('Book updated successfully!')
        }
        else {
        this.$bvModal.hide(this.modalId);
        this.showErrorToast('Update Unsuccessful!')
        }
      },

      async bookBorrow(){
      if(this.book_data.patron_id == ''){
        delete this.book_data.patron_id
      }
      const res = await this.storeBorrowed({data: this.book_data, index: this.id})
      if(res.status == 200){
        this.$bvModal.hide(this.modalId)
        this.SuccessToast('Book borrowed successfully!')
      }
      else{
        this.$bvModal.hide(this.modalId)
        this.showErrorToast('Error!')
      }
    },

    async bookReturn(){
      if(this.book_data.patron_id == ''){
        delete this.book_data.patron_id
      }
      const res = await this.createReturned({data: this.book_data, index: this.id})
      if(res.status == 200){
        this.$bvModal.hide(this.modalId)
        this.SuccessToast('Book returned successfully!')
      }
      else{
        this.$bvModal.hide(this.modalId)
        this.showErrorToast('Error!')
      }
    },

    clearData(){
      this.data = { 
        name: '', 
        author: '', 
        copies: '', 
        category_id: ''
        }
    },
  },
}
</script>


<style>
@import "/assets/css/style.css";
</style>