<template>
      <div class="container pt-5">
        <div class="row row mt-5">
            <div class="col-10 col-sm-10 col-lg-6 pb-3">
                <h6 class="text-muted" style="font-family:poppins; text-align:center;">Borrowed and Returned books</h6>
               <canvas id="barChart" ref="barChart" width="280" height="200"></canvas>
            </div>
            <div class="col-10 col-sm-10 col-lg-6 pb-3">
                <h6 class="text-muted" style="font-family:poppins; text-align:center;">Popular Genre</h6>
              <canvas id="pieChart" width="280" height="200"></canvas>
           </div>
        </div>
      </div>
</template>

<script>
import Chart from 'chart.js';
export default {
  data(){
    return {
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = this.$refs.barChart.getContext("2d");
      new Chart(ctx, {
      type: 'bar',
        data: {
          labels: ['JAN', 'FEB', 'MARCH', 'APRIL', 'MAY', 'JUNE', 'JULY', 'AUG', 'SEPT', 'OCT', 'NOV', 'DEC'],
          datasets: [
          {
            label: 'Books',
            data: [3, 7, 8, 9, 9, 8, 10, 6, 9, 15, 11, 11],
            backgroundColor: "rgba(96, 160, 280, 1)",
          }
        ],
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
              }
            }]
          }
        }
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
       type: 'doughnut',
        data: {
          labels: ['Comedy', 'Horror', 'History', 'Educational', 'Sci-Fi', 'Greek mythology'],
          datasets: [
          {
            label: 'Borrowed Books',
            data: [7, 10, 9, 12, 13, 6],
            backgroundColor: ['rgba(134, 234, 233, 1)',
                              'rgba(93, 189, 211, 1)',
                              'rgba(69, 145, 184, 1)',
                              'rgba(59, 102, 150, 1)',
                              'rgba(53, 60, 110, 1)',
                              'rgba(112, 87, 136, 1)',
          ],
          }
        ],
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
              }
            }]
          }
        }
      });
          });
        },
      };
</script>


<style>
@import "../../assets/css/style.css";
</style>