<template>
  <div id="app">
  <div class="container pt-4">
  <button data-toggle="modal" v-on:click="$bvModal.show('addModal')" style="font-family:poppins" type="button"><img src="../../assets/img/addpatron_icon.png" height="23">Add Patron</button>
    <input style="background-color:#e9e7e7;color:#000000;" placeholder="Search" type="text" name="search" class="search-bar">
      <div class="row mt-2">
        <div class="col-11 col-sm-11 col-md-11 col-lg-11">
          <div class="card striped-tabled-with-hover">
            <div class="table-responsive">
              <table class="table table-hover table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Last Name</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Middle Name</th>
                      <th scope="col">Email Address</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(patron, i) in patrons" :key="i">
                      <td>{{ patron.last_name }}</td>
                      <td>{{ patron.first_name }}</td>
                      <td>{{ patron.middle_name }}</td>
                      <td>{{ patron.email }}</td>
                      <td>
                        <a type="button" @click="$bvModal.show('editModal'); id = i; data = {...patron}">
                        <img src="@/assets/img/edit_icon.png" class="mr-2" height="25"/>
                        </a>
                        <a type="button" @click="$bvModal.show('deleteModal'); id = patron.id;">
                        <img src="@/assets/img/delete_icon.png" class="mr-2" height="16"/>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <b-modal id="addModal" class="modal-body" centered title="Add Patron">
      <form class="pl-5 pr-5" style="font-family:poppins">
        <div class="form-group">
          <label for="lastname">Last Name</label>
            <input type="text" v-model="data.last_name" class="form-control" id="lastname"/>
        </div>
        <div class="form-group">
          <label for="firstname">First Name</label>
            <input type="text" v-model="data.first_name" class="form-control" id="firstname"/>
        </div>
        <div class="form-group">
          <label for="middlename">Middle Name</label>
            <input type="text" v-model="data.middle_name" class="form-control" id="middlename"/>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
            <input type="email" v-model="data.email" class="form-control" id="email"/>
        </div>
      </form>
      <template #modal-footer = {cancel}>
        <b-button variant="secondary" @click="cancel()"> Cancel </b-button>
        <b-button variant="primary" @click="patronSave"> Add Book </b-button>
      </template>
     </b-modal> 

      <b-modal id="editModal" centered title="Edit Patron">
            <form class="pl-5 pr-5">
              <div class="form-group">
                <label for="lastname">Last Name</label>
                <input type="text" v-model="data.last_name" class="form-control" id="lastname"/>
              </div>
              <div class="form-group">
                <label for="firstname">First Name</label>
                <input type="text"  v-model="data.first_name"  class="form-control" id="firstname"/>
              </div>
              <div class="form-group">
                <label for="middlename">Middle Name</label>
                <input type="text" v-model="data.middle_name"  class="form-control" id="middlename"/>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" v-model="data.email"  class="form-control" id="email"/>
              </div>
            </form>
            <template #modal-footer>
              <b-button size="sm" variant="primary" @click="patronUpdate">
                Update Patron
              </b-button>
            </template>
      </b-modal>

      <b-modal id="deleteModal" centered title="Delete Book">
       <p class="my-4">Are you sure you want to delete this patron?</p>
      <template #modal-footer="{ cancel }">
        <b-button variant="secondary" @click="cancel()"> Cancel </b-button>
        <b-button variant="primary" @click.prevent="patronDelete"> Confirm </b-button>
       </template>
     </b-modal>

</div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
import {toast} from '@/assets/js/toastification/toast'

export default {
  mixins: [toast],
  name: "App",
  data() {
    return {
      data: {
        first_name: '', middle_name: '', last_name: '', email: ''},
      modalId: '',
      patron_data: [{ patron_id: '', book_id: ''}],
    };
  },

  mounted() {
    document.title = "Patron Management";
    this.getPatrons();
    this.getPatronData();
    this.$root.$on('bv::modal::show', (bvEvent, modalId) => {
      this.modalId = modalId;
      this.clearData();
    })
      this.$root.$on('bv::modal::hide', () => {
      this.clearData();
    })
  },

  computed: {
    ...mapState('patrons', ['patrons'])
  },

  methods: {
    ...mapActions('patrons', ['getPatrons', 'deletePatron', 'storePatron', 'updatePatron']),
    ...mapGetters('patrons', ['getPatronData']),

    async patronSave() {
      const res = await this.storePatron(this.data)
        if(res.status == 200){
          this.$bvModal.hide(this.modalId);
          this.showSuccessToast('Patron saved successfully!')
        }
        else {
          this.$bvModal.hide(this.modalId);
          this.showErrorToast('Save Unsuccessful!')
        }
      },

    async patronDelete(){
      const res = await this.deletePatron(this.id);
        if(res.status == 200){
        this.$bvModal.hide(this.modalId);
        this.showSuccessToast('Patron deleted successfully!')
        } 
        else {
          this.showErrorToast('Delete Unsuccessful!')
        }
      },

    async patronUpdate(){
      const res = await this.updatePatron({index: this.id, data: this.data})
        if(res.status == 200){
          this.$bvModal.hide(this.modalId)
          this.showSuccessToast('Patron updated successfully!')
        }
        else if (res.status == 422){{
        this.showErrorToast('Update Unsuccessful!')
        }
        }
      },

    clearData() {
      this.data = {
      first_name: '',
      middle_name: '',
      last_name: '',
      email: '',
      }
    }
  }
}

</script>



<style>
@import "../../assets/css/style.css";
</style>