<template>
  <div id="app">
  </div>
</template>

<script>


export default {
  mounted(){
    document.title = "Setting"
  },
  methods: {},
  data() {
    return {
    };
  },
};
</script>

<style>
@import "../../assets/css/style.css";
</style>