body,
.wrapper {
    min-height: 100vh;
    position: relative;
}
.logo {
    display: inline-block;
    vertical-align: center;
    width: 170px;
    height: 170px;
    margin-left: 60px;
    margin-top: -40px;
    margin-bottom: -40px;
}
.sidebar,
body>.navbar-collapse {
    position: absolute;
    margin-top: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
}
.sidebar .sidebar-wrapper,
body>.navbar-collapse .sidebar-wrapper {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;
}
.sidebar .sidebar-background,
body>.navbar-collapse .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
}
.sidebar .nav,
body>.navbar-collapse .nav {
    margin-top: 20px;
    float: none;
    display: block;
}
.sidebar .nav  p{
    display: inline-block;
    margin-right: -30px;
}


.sidebar .nav li .nav-link,
body>.navbar-collapse .nav li .nav-link {
    color: #FFFFFF;
    margin: 20px 20px;
    opacity: .86;
}
.sidebar .nav li .nav-link:hover{
    background: rgba(255, 255, 255, 0.13);
    width: 100%;
    
}
.main{
    margin-left: 220px;
    padding: 0px 10px;
    margin-top: -0px;
}
.main th{
    text-align: center;
}
.main td{
    text-align: center;
}
.main h6{
    margin-bottom: 30px;
}

.main button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: rgba(52, 152, 219, 1);
    cursor:pointer;
    overflow: hidden;
    outline: none;
    padding-bottom: -50px;
    margin-left: 20px;
    margin-top: 70px;
    margin-bottom: -50px;
}
.main button img{
    margin-right: 7px;
}
.main .textbox{
    margin-left: 1050px;
    margin-right: -10px;
    margin-bottom: -20px;
    color:black;
}
.main input{
    margin-left: 650px;
}
.main-panel {
    background: rgba(203, 203, 210, 0.15);
    position: relative;
    float: right;
    width: calc(100% - 260px);
    min-height: 100%;
}

.main-panel>.content {
    padding: 30px 15px;
    min-height: calc(100% - 123px);
}

.main-panel>.footer {
    border-top: 1px solid #e7e7e7;
}

.main-panel .navbar {
    margin-bottom: 0;
}
.main-panel img{
    margin-left: 1270px;
}
.sidebar,
.main-panel {
    overflow: auto;
    max-height: 100%;
    height: 100%;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}
.main .container{
    margin-left: 210px;
}
.navbar {
    border: 0;
    font-size: 16px;
    border-radius: 0;
    min-height: 50px;
    max-height: 61px;
    background-color: rgba(255, 255, 255, 0.96);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 40px;

}

.navbar .navbar-brand {
    font-weight: 400;
    margin: 5px 0px;
    font-size: 20px;
    color: #888888;
}
.modal-body button{
    background: black;
    padding: 8px;
    padding-left: 60px;
    padding-right: 60px;
}




