<template>
<div class="NavBar" id="app">
    <div class="main-panel">
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#pablo" style="font-family:poppins">
                      <img src="@/assets/img/acc_icon.png" height="25">  
                    </a>              
                </div>
            </nav>
    </div>
</div>
</template>

<style>
  @import "/assets/css/style.css";
</style>