<template>
<div class="SideBar" id="app">
    <div class="sidebar" img="../../assets/img/bg.jpg">
                <img class="logo" src="../../assets/img/bc.png">
                <ul class="nav">
                    <router-link to="/">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">
                            <img src="../../assets/img/db_icon.png" height="25">
                            <p href="" style="font-family:poppins">Dashboard</p>
                        </a>
                    </li>
                    </router-link>

                    <router-link to="/Patron">
                    <li>
                        <a class="nav-link" href="patron.html">
                            <img src="../../assets/img/pm_icon.png" height="25">
                            <p href="" style="font-family:poppins">Patron Management</p>
                        </a>
                    </li>
                    </router-link>

                    <router-link to="Book">
                    <li>
                        <a class="nav-link" href="book.html">
                            <img src="../../assets/img/bm_icon.png" height="25">
                            <p href="" style="font-family:poppins">Book Management</p>
                        </a>     
                    </li>
                    </router-link>

                    <router-link to="Setting">
                    <li>                       
                        <a class="nav-link" href="settings.html">
                            <img src="../../assets/img/setting_icon.png" height="25">
                            <p href="" style="font-family:poppins">Settings</p>
                        </a>                      
                    </li>
                    </router-link>

                </ul>
        </div>
</div>
</template>

<script>
  export default{

  }
</script>

<style>
   @import "/assets/css/style.css";
</style>